fastapi
uvicorn[standard]
gunicorn
langchain
langchain-community
langchain-core
langchain-groq
chromadb
faiss-cpu
pypdf
PyMuPDF
python-dotenv
groq
pydantic
numpy
sentence-transformers
scikit-learn
tiktoken
pysqlite3-binary
